@import "nav";

body {
    box-sizing: border-box;
    background-color: black;

    ::-webkit-scrollbar {
        width: 30px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #131313;
    }

    ::-webkit-scrollbar-thumb {
        width: 30px;
        background: rgb(68, 50, 0);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(255, 187, 0);
    }

    .row {
        margin: 30px 10px 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 450px;
        // width: 100%;

        .catagoryBanner {
            position: absolute;
            h4 {
                margin-bottom: 20px;
                color: rgb(255, 217, 0);
            }
        }

        ul {
            margin-top: 50px;
            // white-space: nowrap;
            flex-direction: row;
            // float: left;
            list-style: none;
            display: flex;
            
            li {
                white-space: normal;
                vertical-align: top;
                display: inline-block;
                width: 200px;
                margin-right: 15px;
                position: relative;

                a {
                    text-decoration: none;
                }

                img {
                    height: 300px;
                    width: 200px;
                    display: block;
                    user-select: none;
                }
                p {
                    // white-space: normal;
                    overflow-wrap: break-word;
                    user-select: none;
                    text-align: center;
                    margin-top: 5px;
                    color: white;
                    user-select: none;
                }

                .ticketBtn {
                    color: rgb(255, 217, 0);
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                    display: none;
                    background-color: black
                }

                .btn {
                    width: 100px;
                    height: 100px;
                }
            }

            li:hover {
                img {
                    transform: scale(1.05);
                }
                .ticketBtn {
 
                    display: inline-block;
                }
            }
        }
    }

    .row.genresResult {
        overflow: auto;
        height: 100%;

        ul {
            margin-top: 50px;
            white-space: normal;
            list-style: none;
            // display: inline-block;
        }
    }
}
