.bg-light {
    background-color: rgb(255, 217, 0) !important;
}

.navbar-brand {
    font-weight: 600;
    font-size: 18pt;
    user-select: none;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600 !important;
    margin-top: 5px;
}