body {
    box-sizing: border-box;
}

#infoWrap {
    height:570px!important;
    overflow: hidden !important;
    #contentWrap {
        overflow: hidden !important;
    }
}

.appWrap {
    border: 1px solid white;
    height: 550px;
    width: 500px;
    margin: auto;
    color: white;

    .displayWrap {
        height: 80px;
        border: 1px solid white;
        display: flex;

        .displayInfo {
            height: 80px;
            width: 60%;
        }

        .displayPrice {
            height: 80px;
            width: 40%;
            border: 1px solid red;
        }
    }

    .iconWrap {
        display: flex;
        height: 30px;
        width: 300px;
        margin: 10px auto 0;
        // border: 1px solid black;

        span {
            // margin:auto;
            height: 30px;
            line-height: 25px;
        }

        .seat {
            background-color: chartreuse;
            height: 20px;
            width: 20px;
            margin: 3px 2px;
            margin-left: 15px;
        }
        .seat.selected {
            background-color: rgb(28, 63, 0);
            height: 20px;
            width: 20px;
            margin: 3px 2px;
            margin-left: 15px;
        }

        .seat.booked {
            background-color: red;
            height: 20px;
            width: 20px;
            margin: 3px 2px;
            margin-left: 15px;
        }
    }

    .seatWrap {
        border: 1px solid gray;
        height: 350px;
        width: 350px;
        margin: 20px auto 0;
        padding: 10px;

        .screen {
            height: 20px;
            width: 325px;
            background-color: rgba(190, 190, 190, 0.486);
            margin: 5px auto 20px;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        div:nth-child(4n + 3) {
            margin-bottom: 15px;
        }

        .seatRow {
            display: flex;
            justify-content: center;

            .seat.selected {
                background-color: rgb(28, 63, 0);
                height: 20px;
                width: 20px;
                margin: 3px 2px;
            }

            .seat {
                background-color: chartreuse;
                height: 20px;
                width: 20px;
                margin: 3px 2px;
            }
            .seat:hover {
                transform: scale(1.2);
            }

            .seat.booked {
                background-color: red;
                height: 20px;
                width: 20px;
                margin: 3px 2px;
            }

            div:nth-child(8n + 2) {
                margin-right: 25px !important;
            }
        }
    }
}
